*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(189, 212, 242);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
}
.heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 900px;
    min-height: 100px;
    background: #fff;
    padding: 20px 60px 5px 60px;
}
.container{
    position: relative;
    width: 100%;
    max-width: 900px;
    min-height: 100px;
    background: #fff;
    display: grid;
    grid-template-columns: 7fr 4.5fr;
}
.container .leftSide{
    position: relative;
    padding: 0 50px 0 80px;

}
.container .rightSide{
    position: relative;
    padding: 10px 80px 0 0;
}
.p-container{
    display: flex;
    gap: 2rem;
}

a{
    text-decoration:none;
}
h1 {
    font-size: 60px;
}
p{
    font-size: 16px;
    line-height: 1.5;
}
ul{
    margin: 0 0 0 10px;
}
